@import "../../../variables.scss";

.route {
  max-height: 90vh;
  overflow-y: scroll;
  padding: 6px 6%;
  .route-title {
    height: $route-title-height;
    position: fixed;
    z-index: 100;
  }
  .route-content {
    padding-top: $route-title-height;
  }
}

.private-link {
  border: 1px solid black;
  bottom: 21px;
  cursor: pointer;
  padding: 6px;
  position: absolute;
  right: $horizontalPadding;
}
