.button,
.input {
  margin: 2px 0;
  width: 100%;
  input {
    width: 100%;
  }
}

.button {
  cursor: pointer;
}

.input2 {
  display: grid;
  grid-template-columns: 1fr;
  .text-area {
    height: 120px;
  }
}
