.button,
.input {
  margin: 2px 0;
  width: 100%;
}

.button {
  cursor: pointer;
}

.input1 {
  display: grid;
  grid-template-columns: 90px auto;
  .input-label::after {
    content: ": ";
  }
  .text-area {
    height: 120px;
  }
}
