@import "../../variables.scss";

.button,
.input {
  margin: 2px 0;
  width: 100%;
  input {
    width: 100%;
  }
}

.button {
  cursor: pointer;
}

.card {
  border: 1px solid $colour1;
}
.blog-card {
  margin-bottom: 6px;
  max-height: 180px;
  overflow: hidden;
  position: relative;
  width: 100%;
  .blog-card-image-container {
    border-bottom: 1px solid $colour1;
    height: 70px;
    overflow: hidden;
    .blog-card-image {
      border-bottom: 1px solid $colour1;
      width: 100%;
    }
  }
  .blog-body {
    padding: 21px 2% 6px;
    .blog-card-title {
      background-color: $colour2;
      left: 50%;
      padding: 2px 6px;
      position: absolute;
      top: 55px;
      transform: translateX(-50%);
    }
    .blog-card-subtitle {
      left: 50%;
      position: absolute;
      font-size: 12px;
      font-style: italic;
      top: 75px;
      transform: translateX(-50%);
    }
    .blog-card-text {
      font-size: 10px;
      padding: 6px 2%;
      text-align: justify;
    }
  }
}
.work-card {
  margin: 0 auto 6px;
  max-height: 210px;
  overflow: hidden;
  position: relative;
  width: 140px;
  .work-card-image-container {
    border-bottom: 1px solid $colour1;
    max-height: 100px;
    min-height: 100px;
    overflow: hidden;
    width: 140px;
    .work-card-image {
      width: 100%;
    }
  }
  .work-body {
    padding: 0 2%;
    .work-card-title {
      font-size: 14px;
    }
    .work-card-subtitle {
      font-size: 10px;
      font-style: italic;
    }
    .work-card-text {
      font-size: 10px;
      padding: 6px 2%;
      text-align: justify;
    }
  }
}

.buttons {
  position: absolute;
  right: 0;
  top: 0;
  .edit-button {
    i {
      color: blue;
    }
  }
  .delete-button {
    cursor: pointer;
    i {
      color: red;
    }
  }
}

.delete-options {
  background-color: $colour2;
  height: 297px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  .delete-option-info {
    font-size: 14px;
    padding: 12px 2%;
  }
  .delete-option {
    color: blue;
    cursor: pointer;
  }
  .delete-option:nth-child(3) {
    color: red;
  }
}

.input2 {
  display: grid;
  grid-template-columns: 1fr;
  .text-area {
    height: 120px;
  }
}
