@import "../../../variables.scss";

.alert {
  bottom: 21px;
  border-radius: 6px;
  color: $colour2;
  left: $horizontalPadding;
  padding: 4px;
  position: absolute;
  text-align: center;
  width: 88%;
}
.alert-success {
  background-color: green;
}
.alert-warning {
  background-color: red;
}
